extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href='/css/product.css')

block content
  main
    if cart.length
      ul
        each item in cart
          li #{item.product.title} (#{item.qty})
    else
      h1 No Products in Cart